/node_modules

# next.js
/.next/

# production
/build

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# env files (can opt-in for commiting if needed)
.env*