.container_media {
  width: 80%;
  max-width: 70rem;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.media {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25rem;
    top: -3rem;
    background: url(../public/images/media-bg.png) top / cover no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25rem;
    top: -3rem;
    left: 0;
    background: linear-gradient(
      rgba(var(--body), 0),
      rgba(var(--body), 0.8),
      rgba(var(--body))
    );
  }

  &_gallery {
    div {
      display: flex;
      flex-wrap: wrap;

      a {
        height: 15rem;
        cursor: pointer;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &:hover {
          .thumb {
            transform: scale(1.2);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.4s;
        }
      }

      .video {
        width: 40%;

        img:nth-child(1) {
          position: absolute;
          width: 3rem !important;
          height: auto !important;
          filter: invert(100%);
          opacity: 1 !important;
        }

        img {
          opacity: 0.3;
        }
      }

      .img {
        width: 30%;
      }
    }
  }

  &_header {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;

    h1 {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .media {
    &_gallery {
      div {
        a {
          width: 100% !important;
        }
      }
    }
  }
}
