a.active {
    color: white;
}

.social {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.5rem;

    a {
        background-color: rgba(128, 128, 128, 0.285);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        transition: .5s;
        margin-right: 0 !important;
        padding-right: 0;
        padding-top: 0;

        &:hover {
            background-color: rgba(128, 128, 128, 0.45);
            transform: scale(1.06);
        }

        svg {
            filter: invert(100%);
            font-size: 0.55rem;
            opacity: 0.7;
            width: 0.7rem;
            height: 0.6rem;
        }
    }
}


nav {
    background-color: rgba(23, 23, 23, 0.922);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    position: sticky;
    top: 0rem;
    width: 100%;
    z-index: 10;

    .navR {
        padding: 0.3rem 0.5rem;
    }

    div:nth-child(3) {
        display: none;
    }

    ul:nth-child(1) {

        li:nth-child(1) {
            margin: 0 1rem 0 1rem;
        }

        li {
            margin: 0 1.5rem;

            a {
                word-break: keep-all;

            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;

        li {
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
                a {
                    color: white;
                }
            }

            img {
                width: 4rem;
            }

            a {
                font-size: 0.55rem;
                transition: .5s;
                color: gray;
                letter-spacing: 0.03rem;
                height: 100%;
                text-transform: uppercase;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    height: 80%;
                    background-color: rgb(168, 15, 15);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.65rem;
                    margin-left: 1.2rem;
                    font-weight: bold;
                    overflow: hidden;
                    width: 10rem;
                    color: rgb(255, 255, 255);
                    position: relative;
                    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.568);

                    p {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        transition: .3s;

                        &::before {
                            content: '';
                            transition: .4s;
                            width: 0%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.25;
                            left: 0;
                            transform: skew(-20deg);
                            background-color: white;
                        }
                        
                    }

                    &:hover {
                        p {
                            transform: scale(1.1);

                            &::before {
                                width: 50%;
                            }

                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        filter: blur(2rem);
                        left: -100%;
                        animation: startLight 2s infinite linear;
                    }

                    @keyframes startLight {
                        0% {
                            left: -100%;
                            opacity: 0;
                        }

                        20% {
                            opacity: 1;
                        }

                        80% {
                            opacity: 1;
                        }
                        
                        100% {
                            opacity: 0;
                            left: 100%;
                        }
                    }

                    &::after {
                      content: '';
                      filter: brightness(200%);
                      opacity: 1;
                      position: absolute;
                      border: 1rem solid transparent;
                      border-image: url(../public/images/frame.png);
                      border-image-slice: 30 30 fill;
                      left: -0.03rem;
                      right: -0.03rem;
                      bottom: -0.03rem;
                      top: -0.03rem;
                      pointer-events: none;
                      z-index: 1;
                    }
                }
            }
        }
    }
}





@media (max-width: 1366px) {

    nav {
        flex-direction: row-reverse;

        .social_d {
            position: absolute;
            bottom: 6rem;
            width: 100%;
            text-align: center;
            padding: 1rem !important;

            .social {
                a {
                    width: 2rem;
                    height: 2rem;
                    
                    svg {
                        font-size: 0.7rem;
                    }
                }
            }

            
        }

        div:nth-child(3) {
            display: flex;
            padding-left: 1rem;
            gap: 0.2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            &::before {
                content: '';
                position: fixed;
                background-color: rgba(0, 0, 0, 0.8);
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 5.1rem;
                left: 0;
                opacity: 0;
                transition: .3s;
                pointer-events: none;
            }

            span {
                width: 1rem;
                height: 0.15rem;
                background-color: white;
                border-radius: 0.2rem;
                opacity: 0.5;
                transition: .4s;
                position: relative;
            }
        }
        
        ul:nth-child(1) {
            position: fixed;
            top: 5.1rem;
            left: -17rem;
            transition: .5s;
            height: 100vh;
            width: 17rem;
            flex-direction: column;
            background-color: rgb(37, 37, 37);
            opacity: 0;

            &.scrolled {
                top: 3rem;

                .social_d {
                    bottom: 4rem !important;
                }
            }

            &.scrolled ~ div:nth-child(3)::before {
                top: 3rem;
            }

            &.active {
                left: 0;
                opacity: 1;
            }

            &.active ~ div:nth-child(3)::before {
                opacity: 1;
                pointer-events: all;
                
            }

            &.active ~ div:nth-child(3) {
                gap: 0;

                span:nth-child(1) {
                    transform: rotate(45deg);
                    width: 1.2rem;
                }

                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -0.13rem;
                    width: 1.2rem;
                }

                span:nth-child(2) {
                    height: 0;
                    opacity: 0;
                }
            }

            li:nth-child(1) {
                margin: 0;
                padding: 3rem;
                background-color: rgba(0, 0, 0, 0.3);

                img {
                    width: 8rem;
                }
            }

            li:not(:last-child) {
                border-bottom: 0.04rem solid rgba(255, 255, 255, 0.03);
            }

            li {
                width: 100%;
                justify-content: center;
                height: auto;
                margin: 0;
                padding: 1.3rem;

                a {
                    font-size: 0.65rem;
                }
            }
        }
    }
}


@media (max-width: 480px) {
    nav {

        ul {
            li {
                a {
                    span {
                        width: 7rem;
                    }
                }
            }
        }
    }
}