.container {
    position: relative;
    z-index: 2;
}


.honor {
    filter: grayscale(0) !important;
    box-shadow: none;
    opacity: 1;
    background-color: rgb(168, 15, 15, 0.8);

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        filter: blur(2rem);
        left: -100%;
        animation: startLight 2s infinite linear;
    }

    svg {
        animation: rotateAnimate 2s infinite linear;
    }

    @keyframes rotateAnimate {
        0% {
            transform: scale(1);
        }

        20% {
            transform: scale(1.3) rotate(360deg);
        }

        100% {
            transform: scale(1) rotate(360deg);
        }
    }

    @keyframes startLight {
        0% {
            left: -100%;
            opacity: 0;
        }

        20% {
            opacity: 0.7;
        }

        80% {
            opacity: 0.7;
        }

        100% {
            opacity: 0;
            left: 100%;
        }
    }
}


.ranking {
    position: relative;
    padding-bottom: 6rem;

    &_table {

        table {
            width: 100%;
            border-spacing: 0rem 0.8rem;

            thead {
                text-align: left;
                font-size: 0.65rem;
                color: rgba(128, 128, 128, 0.719);

                th {
                    padding: 0rem 1rem 0.5rem 1rem;
                    font-weight: normal;
                }
            }

            tbody {
                border-collapse: initial;
                border-spacing: 2rem !important;
                gap: 1rem;

                tr:nth-child(1) {
                    position: relative;
                    background: transparent !important;
                    animation: opacityRank 2s infinite linear;
                    background-color: rgba(242, 177, 56, 0.4) !important;

                    &::after {
                        opacity: 0.7 !important;
                    }

                    td {
                        color: white;
                        font-size: 0.7rem;
                        text-shadow: 0 0 0.8rem white;
                    }
                }

                tr:nth-child(2) {
                    background: transparent !important;
                    background-color: rgba(135, 135, 135, 0.3) !important;

                    &::after {
                        opacity: 0.7 !important;
                    }


                    td {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 0.7rem;
                    }
                }

                tr:nth-child(3) {
                    background: transparent !important;
                    background-color: rgba(154, 69, 13, 0.34) !important;

                    &::after {
                        opacity: 0.7 !important;
                    }

                    td {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 0.7rem;
                    }
                }

                tr:nth-child(4) {
                    background: linear-gradient(120deg, rgba(96, 87, 69, 0.568), rgba(0, 0, 0, 0));

                    &::after {
                        opacity: 0.3 !important;
                    }

                    td {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }


                tr:nth-child(5) {
                    background: linear-gradient(120deg, rgba(96, 87, 69, 0.568), rgba(0, 0, 0, 0));

                    &::after {
                        opacity: 0.3 !important;
                    }

                    td {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }

                tr {
                    position: relative;
                    background: linear-gradient(120deg, rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0));

                    &::after {
                        content: '';
                        filter: brightness(250%);
                        position: absolute;
                        border: 1rem solid transparent;
                        border-image: url(../public/images/frame.png);
                        border-image-slice: 30 30 fill;
                        left: -0.08rem;
                        right: -0.08rem;
                        bottom: -0.08rem;
                        top: -0.08rem;
                        pointer-events: none;
                        z-index: 1;
                        opacity: 0.1;
                    }


                    td {
                        padding: 0.8rem 1rem;
                        font-size: 0.65rem;
                        color: gray;
                    }
                }
            }
        }
    }

    &_filters {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        p {
            color: gray;
            margin-bottom: 0.7rem;
            font-size: 0.6rem;
        }

        div {
            width: 12rem;
            height: 2rem;
            position: relative;

            &::after {
                content: '';
                filter: brightness(200%);
                opacity: 1;
                position: absolute;
                border: 0.8rem solid transparent;
                border-image: url(../public/images/frame.png);
                border-image-slice: 30 30 fill;
                left: 0rem;
                right: 0rem;
                bottom: 0rem;
                top: 0rem;
                pointer-events: none;
                z-index: 1;
                opacity: 0.2;
            }
        }

        span {
            position: relative;
            display: flex;
            align-items: center;
            width: 12rem;
            height: 2rem;

            svg {
                position: absolute;
                right: 1rem;
                width: 0.6rem;
                height: 0.6rem;
                pointer-events: none;

                path {
                    fill: gray;
                }
            }
        }

        select {
            width: 100%;
            height: 100%;
            appearance: none;
            outline: none;
            font-family: 'Font2';
            cursor: pointer;
            padding: 0 1rem;
            font-size: 0.6rem;
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(0, 0, 0, 0.4);
            border: 0.05rem solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
            transition: .3s;

            &:hover {
                color: white;
                border-color: rgba(255, 255, 255, 0.4);
            }

            option {
                color: rgba(255, 255, 255, 0.6);
                background-color: black;

                &:hover {
                    color: white !important;
                    background-color: black !important;
                }

                &:checked {
                    color: white;
                }
            }
        }

        input {
            width: 100%;
            height: 100%;
            appearance: none;
            font-family: 'Font2';
            outline: none;
            padding: 0 1rem;
            font-size: 0.6rem;
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(0, 0, 0, 0.4);
            border: 0.05rem solid rgba(255, 255, 255, 0.2);
            transition: .3s;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);

            &:focus {
                border-color: rgba(255, 255, 255, 0.4);
            }

            &:hover {
                color: white;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 25rem;
        top: -3rem;
        background: url(../public/images/bg-3.jpg) center / cover no-repeat;
    }

    &_type {
        h1 {
            color: white;
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 1.5rem;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            li {
                width: 100%;

                a {
                    cursor: pointer;
                    background-color: rgba(183, 70, 9, 0.888);
                    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.8rem;
                    font-weight: bold;
                    overflow: hidden;
                    width: 100%;
                    height: 3rem;
                    color: rgb(255, 255, 255);
                    position: relative;
                    filter: grayscale(100%);
                    opacity: 0.5;
                    transition: .4s;

                    span {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        position: relative;
                        transition: .3s;
                        box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0);
                        gap: 0.8rem;

                        svg {
                            width: 1.1rem;
                            transition: .4s;

                            path {
                                fill: white;
                                opacity: 0.5;
                            }
                        }

                        &::before {
                            content: '';
                            transition: .4s;
                            width: 0%;
                            height: 100%;
                            position: absolute;
                            opacity: 0.1;
                            left: 0;
                            transform: skew(-20deg);
                            background-color: white;
                        }

                    }



                    &:hover {
                        opacity: 1;
                        filter: grayscale(0);

                        span {
                            box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.1);

                            &::before {
                                width: 50%;
                            }

                        }
                    }


                    &::after {
                        content: '';
                        filter: brightness(150%);
                        opacity: 1;
                        position: absolute;
                        border: 1.2rem solid transparent;
                        border-image: url(../public/images/frame.png);
                        border-image-slice: 30 30 fill;
                        left: -0.03rem;
                        right: -0.03rem;
                        bottom: -0.03rem;
                        top: -0.03rem;
                        pointer-events: none;
                        z-index: 1;
                    }
                }
            }
        }
    }

    &_header {
        position: relative;
        z-index: 1;


        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 25rem;
            top: -3rem;
            left: 0;
            background: linear-gradient(rgba(var(--body), 0), rgba(var(--body)));
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 25rem;
            top: -3rem;
            left: 0;
            background: linear-gradient(rgba(var(--body), 0), rgba(var(--body), 0.5), rgba(var(--body)));
        }


        .ranking_inside {
            height: 12rem;
            padding-bottom: 2rem;
        }

        .ranking_header-home {
            min-height: 18rem !important;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            min-height: 12rem;
            z-index: 2;
            padding-bottom: 4rem;
            margin-bottom: 3rem;
            position: relative;
            border-bottom: 0.05rem solid rgba(255, 255, 255, 0.06);

            .honor {
                cursor: pointer;
                box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
                font-weight: bold;
                overflow: hidden;
                width: 16.5rem;
                height: 3rem;
                color: rgb(255, 255, 255);
                position: relative;
                transition: .4s;
                margin-top: 2rem;

                span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    transition: .3s;
                    box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0);
                    gap: 0.8rem;

                    svg {
                        width: 1.1rem;
                        transition: .4s;

                        path {
                            fill: white;
                            opacity: 0.5;
                        }
                    }

                    &::before {
                        content: '';
                        transition: .4s;
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.1;
                        left: 0;
                        transform: skew(-20deg);
                        background-color: white;
                    }

                }



                &:hover {
                    opacity: 1;
                    filter: grayscale(0);

                    span {
                        box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.5);

                        &::before {
                            width: 50%;
                        }

                    }
                }


                &::after {
                    content: '';
                    filter: brightness(150%);
                    opacity: 1;
                    position: absolute;
                    border: 1.2rem solid transparent;
                    border-image: url(../public/images/frame.png);
                    border-image-slice: 30 30 fill;
                    left: -0.03rem;
                    right: -0.03rem;
                    bottom: -0.03rem;
                    top: -0.03rem;
                    pointer-events: none;
                    z-index: 1;
                }
            }

            .ranking_back {
                display: flex;
                color: gray;
                gap: 0.7rem;
                font-size: 0.8rem;
                margin-bottom: 1rem;
                align-items: center;
                transition: .4s;

                &:hover {
                    color: white;
                }

                svg {
                    width: 0.5rem;

                    path {
                        fill: gray;
                    }
                }
            }

            h1 {
                color: white;
                margin-bottom: 0.8rem;
                text-shadow: 0 0 1rem rgba(0, 0, 0, 0.64);
            }

            p {
                color: rgba(225, 225, 225, 0.8);
                font-size: 0.8rem;

                strong {
                    color: white;
                }
            }
        }

        &-character {
            position: absolute;
            right: 0rem;
            top: -3rem;
            overflow: hidden;
            z-index: 1;
            height: 25rem;

            img {
                width: 45rem;
                position: relative;
                top: 4rem;
            }
        }
    }
}


@media (max-width: 768px) {
    .honor {
        width: 100% !important;
    }

    .ranking {
        &_table {

            overflow-x: scroll;
        }

        &_filters {
            div {
                width: 100%;

                span {
                    width: 100%;
                }
            }
        }

        &_header {
            &-character {
                display: none;
            }
        }

        &_type {
            ul {
                flex-wrap: wrap;
            }
        }
    }
}